/* ==NAVIGATION== */
/* on cache le checkbox qui nous permet de voir l'état de la .navigation */
.hamburger {
     display: none;
}

.containerButton {
     padding: 12px;
}

/* on stylise le container (label) qui contient les 3 barres */
.hamburger+.containerButton {
     width: 60px;
     height: 60px;
     border-radius: 100px;
     @include flex(0px, row);
     cursor: pointer;
     z-index: 1;
}

/* on stylise la barre principal */
.hamburger+.containerButton span {
     position: relative;
     width: 100%;
     height: 3px;
     background: $color-700;
}

/* on stylise les barre crée avec BEFORE et AFTER */
.hamburger+.containerButton span::before,
.hamburger+.containerButton span::after {
     content: "";
     position: absolute;
     width: inherit;
     height: inherit;
     background: $color-700;
}

/* on positionne la première barre au TOP (absolute) */
.hamburger+.containerButton span::before {
     top: -10px;
}

/* on positionne la deuxième barre au BOTTOM (absolute) */
.hamburger+.containerButton span::after {
     top: 10px;
}

/* quand l'input est checké on rend la barre principal invisible */
.hamburger:checked+.containerButton span {
     background: transparent;
}

/* quand l'input est checké on positionne AFTER et BOTTOM au CENTER (absolute) */
.hamburger:checked+.containerButton span::after,
.hamburger:checked+.containerButton span::before {
     top: 0;
}

/* quand l'input est checké on applique une rotation de 45 degré sur le BEFORE */
.hamburger:checked+.containerButton span::before {
     background-color: $color-50;
     transform: rotate(45deg);
}

/* quand l'input est checké on applique une rotation de 45 degré sur le AFTER */
.hamburger:checked+.containerButton span::after {
     background-color: $color-50;
     transform: rotate(-45deg);
}

/*  NAVIGATION */

.navigation {
     position: fixed;
     top: 0;
     left: 0;
     min-width: 32%;
     height: 100vh;
     background: $color-700;
     transform: translateX(-100%);
     transition: transform 0.5s;

     ul {
          margin-top: 92px;
          @include flex(0px, column);
          align-items: flex-start;

          .linkNav {
               width: 100%;
          }

          .list {
               padding: 16px 24px;
               border-bottom: 1px solid $color-50;
               @include text($color-50, $paragraphe1, $regular);

               &:hover {
                    background-color: #3F6258;
               }
          }

          &:first-child {
               border-top: 1px solid $color-50;
          }
     }
}

.navigation ul .linkNav:focus {
     background-color: red;
     transform: unset;
}

.hamburger:checked+.containerButton~.navigation {
     /*on revient à l'état initial*/
     transform: unset;
}

.hamburger+.containerButton span::before,
.hamburger+.containerButton span::after {
     transition: top 300ms 350ms, transform 300ms 50ms;
}

.hamburger:checked+.containerButton span::after,
.hamburger:checked+.containerButton span::before {
     transition: top 300ms 50ms, transform 300ms 350ms;
}