@media screen and (max-width: 1230px) {
     .sec1Container1 {
          flex-wrap: wrap !important;
     }

     .sec1Container1 .left {
          width: 100% !important;
     }

     .right {
          margin-top: 16px !important;
     }
}

@media screen and (max-width: 1000px) {
     .expPro {
          flex-direction: column !important;
     }

     .expPro .illExpPro {
          max-width: 100% !important;
     }

     .expPro .left {
          width: 100% !important;
          text-align: center !important;
     }

     .expPro .right {
          width: 100% !important;
     }
}

@media screen and (max-width: 476px) {
     .divers {
          grid-template-columns: none !important;
     }

     .right,
     .rgImg {
          width: 100% !important;
     }

     .containerCv .cv {
          width: 100% !important;
          height: unset !important;
     }

     .competences .compNavigation {
          border-right: none !important;
     }

     .competences .compBody .compsHeader {
          border-top: 4px solid $color-700;
     }

     .expPro {
          width: 100% !important;
     }

     .projet {
          width: 100% !important;
          background-position: center !important;
     }

     .contact {
          align-items: flex-start !important;
          flex-direction: column !important;
          gap: 8px !important;
     }

     .containerProjet {
          grid-template-columns: none !important;
     }
}

@media screen and (max-width: 640px) {
     .container {
          flex-direction: column !important;
     }

     .cardBloc {
          width: 100%;
     }

     .headerPrj .left .navProjet {
          display: none !important;
     }

     .container {
          margin: 24px;
     }

     .container .left .cardBloc {
          border-left: 8px solid #344E47;
     }
}

@media screen and (max-width: 1200px) {
     .headerPrj .right {
          display: none;
     }
}

@media screen and (max-width: 860px) {
     .projets {
          width: 100% !important;
          flex-direction: column !important;

          .projet {
               gap: 16px !important;

               .projetInfo {
                    width: 100% !important;
               }
          }

          .projetsNavigation {
               flex-direction: row !important;

               .projetNavigationButton {
                    padding: 16px !important;

                    &:nth-child(1) {
                         border-radius: 32px 0 0 32px !important;
                    }

                    &:nth-child(2) {
                         border-radius: 0 32px 32px 0px !important;
                    }
               }
          }

          .imgIllProjet {
               height: unset !important;
          }
     }
}