//QUALITE
.containerQualité {
     @include flex(24px, column);
     flex: 1 0 0;
     align-self: stretch;

     .lg1,
     .lg2 {
          @include flex(24px, row);
          flex-wrap: wrap;
          flex: 1 0 0;
          align-self: stretch;
     }

     .card {
          padding: 16px 32px;
          border-radius: 16px;
          background: $color-100;
          @include flex(32px, column);
          flex: 1 0 0;
          align-self: stretch;

          .cdTitle {
               @include text($color-950, $paragraphe1, $semibold1);
               text-transform: uppercase;
          }

          .cdText {
               @include flex(16px, column);
               align-self: stretch;

               .cdPara {
                    @include text($color-950, $paragraphe2, $regular);
                    align-self: stretch;
               }
          }

          .cdIcon {
               width: 124px;
               height: 124px;
          }
     }
}

//COMP TECHNIQUE
.competences {
     width: 100%;
     background-color: $color-100;
     border-radius: 40px;
     border: 4px solid $color-700;
     display: flex;
     @include flex(0px, row);
     justify-content: flex-start;
     align-items: flex-start;
     flex-wrap: wrap;

     .compNavigation {
          padding: 24px;
          border-right: 4px solid $color-700;
          flex: 1;

          .compNavList {
               @include flex(16px, column);
               margin: 16px 0;

               .elementsCompNav {
                    @include flex(16px, column);

                    .line {
                         width: 100%;
                         height: 4px;
                         border-radius: 100px;
                         border: none;
                         background-color: $color-700;
                    }

                    .compNavInfo {
                         @include text($color-950, $paragraphe2, $regular);
                    }
               }
          }
     }

     .compBody {
          @include flex(0px, column);
          justify-content: flex-start;
          align-self: stretch;
          flex: 4;

          .compsHeader {
               width: 100%;
               padding: 32px;
               border-bottom: 4px solid $color-700;
          }

          .comps {
               width: 100%;
               height: 100%;
               max-height: 439px;
               padding: 16px;
               overflow: overlay;

               &::-webkit-scrollbar {
                    width: 8px;
               }

               &::-webkit-scrollbar-track {
                    background: $color-100;
               }

               &::-webkit-scrollbar-thumb {
                    background-color: $color-700;
                    border-radius: 20px;
                    border: 3px solid $color-100;
               }
          }

          .compJauge {
               width: 100%;
               padding: 32px;
               border-top: 4px solid $color-700 !important;

               @include flex(40px, row);

               .noteJauge {
                    width: 100%;
                    height: 24px;

                    .jaugeNiv1 {
                         width: 24%; //paramétre à modifier pour faire la jauge
                         height: 24px;
                         fill: #344E47;
                    }

                    .jaugeNiv2 {
                         width: 100%;
                         height: 24px;
                         fill: #BBD4CA;
                    }
               }

               .jaugeText {
                    font-family: "Oxanium", sans-serif;
                    @include text($color-700, 40px, $semibold)
               }
          }
     }
}

