.containerFormations {
     @include flex(40px, column);
     align-items: flex-start;

     .formation {
          padding-left: 16px;
          border-left: 16px solid $color-700;
          @include flex(8px, row);
          align-items: flex-start;

          .informationDate {
               @include text($color-950, $paragraphe1, $semibold1);
          }

          .informationTexte {
               margin-top: 6px;
               @include flex(10px, column);
               align-items: flex-start;

               .informationTexteTitle {
                    @include text($color-700, $sousTitre, $semibold1)
               }

               .informationTexteParagraphe {
                    @include text($color-950, $paragraphe1, $regular);
               }
          }
     }
}