/* ===IMPORTATION FONT=== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* ===FIN IMPORTATION FONT=== */

/* ===DEFINITION VARIABLE=== */
:root {

     /* ==COLORS== */
     --color-50: #F2F9F9;
     --color-100: #DDEFF0;
     --color-200: #BFE0E2;
     --color-300: #92CACE;
     --color-400: #5FAAB1;
     --color-500-primary: #438E96;
     --color-600: #3B757F;
     --color-700: #356169;
     --color-800: #325158;
     --color-900: #2D464C;
     --color-950: #1A2C32;

     /* ==SIZE== */
     --size-32: 32px;
     --size-24: 24px;
     --size-18: 18px;
     --size-16: 16px;

     /* ==WEIGHT== */
     --weight-regular: 400;
     --weight-medium: 500;
     --weight-semibold: 700;
     --weight-extrabold: 800;
}

/* === FIN DEFINITION VARIABLE=== */

/* === BASE === */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     scroll-behavior: smooth;
}

body {
     width: 100%;
     height: 100vh;
}

body::-webkit-scrollbar {
     width: 8px;
}

body::-webkit-scrollbar-track {
     background: var(--color-50);
}

body::-webkit-scrollbar-thumb {
     background-color: var(--color-500-primary);
     border-radius: 20px;
     border: 3px solid var(--color-50);
}

.section {
     width: 100%;
     padding: 100px 0 100px 0;
     background-color: var(--color-50);
}

.btn {
     padding: 8px 16px;
     background-color: var(--color-500-primary);
     border-radius: 100px;
     border: none;
     color: var(--color-50);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
}

.titleSection {
     font-size: 32px;
     font-weight: var(--weight-extrabold);
     color: var(--color-500-primary);
     text-align: center;
}

/* === FIN BASE === */

/* ======================================================== */

/* === SECTION 1 === */

.sec1 {
     height: 100vh;
     background-image: url(./assets/img/img_body.jpg) !important;
     background-size: cover !important;
     background-color: unset !important;
}

/* == HEADER == */
.header {
     position: absolute;
     top: 0;
     width: 100%;
     padding: 24px 32px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 1;
}

.header .containerList {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 24px;
}

.containerList .list {
     font-size: 16px;
     font-family: "MuseoModerno", sans-serif;
     font-weight: var(--weight-regular);
     color: var(--color-50);
     cursor: pointer;
}

/* == FIN HEADER == */

/* == BLUR == */
.blur {
     width: 50%;
     height: 100vh;
     padding: 32px;
     background-color: rgb(0, 0, 0, 13%);
     -webkit-backdrop-filter: blur(40px);
     backdrop-filter: blur(40px);
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.blur .container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     gap: 64px;
}

.container .containerText {
     text-align: start;
}

.containerText .title {
     font-family: "MuseoModerno", sans-serif;
     font-size: 100px;
     color: var(--color-200);
}

.containerText .ssTitle {
     font-family: "MuseoModerno", sans-serif;
     font-size: var(--size-32);
     font-weight: var(--weight-regular);
     color: var(--color-200);
}

/* == FIN BLUR == */
/* === FIN SECTION 1 === */

/* ======================================================== */

/* === SECTION 2 === */

.sec2 {
     padding: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 64px;
}

.cards {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap: 24px;
}

.cards .card {
     width: 440px;
     height: 560px;
     background-size: cover;
     background-position: center;
     border-radius: 16px;
     display: flex;
     align-items: flex-end;
}

.card:nth-child(1) {
     background-image: url(./assets/img/img_offre1.jpg) !important;
}

.card:nth-child(2) {
     background-image: url(./assets/img/img_offre2.jpg) !important;
}

.card .cardText {
     height: 50%;
     padding: 16px;
     background-color: rgb(0, 0, 0, 13%);
     -webkit-backdrop-filter: blur(40px);
     backdrop-filter: blur(40px);
     border-radius: 16px;
     display: flex;
     flex-direction: column;
     gap: 16px;
}

.cardText .texts {
     color: var(--color-50);
}

.texts .cardTitle {
     margin-bottom: 16px;
     text-align: center;
     font-size: 24px;
     font-weight: var(--weight-semibold);
}

.texts .cardDescription {
     font-size: 16px;
     font-weight: var(--weight-regular);
}

/* ======================================================== */

/* === SECTION 3 === */

.sec3 {
     /* ihezof */
}

.sec3 .containerVoiture {
     margin-top: 16px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
}

.containerVoiture .voitures {
     padding: 8px;
     border-radius: 16px;
     background-color: var(--color-100);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
     flex-direction: column;
}

.voitures .img {
     width: 300px;
}

.voitures .nom {
     text-align: center;
     font-size: 18px;
}

.voitures .info {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
}

.info .tag {
     border-radius: 100px;
     padding: 4px 8px;
     background-color: var(--color-200);
}

/* === FIN SECTION 3 === */

/* ======================================================== */

/* === SECTION 4 === */

.sec4 {
     padding: 40px;
}

.sec4 .rdvContainer {
     margin-top: 24px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
     flex-direction: column;
}

.rdvContainer .inputRdv {
     width: 30%;
     padding: 16px 24px;
     border: none;
     border-radius: 8px;
     background-color: var(--color-100);
     color: var(--color-500-primary);
     font-size: var(--size-16);
     font-weight: var(--weight-regular);
}

/* === FIN SECTION 4 === */

/* ======================================================== */

/* === SECTION 5 === */
.sec5 {
     padding: 32px;
     display: flex;
     flex-direction: column;
     gap: 24px;
}

.infraTitle {
     width: -moz-fit-content;
     width: fit-content;
     padding: 16px 32px;
     background-color: var(--color-100);
     border: 1px solid var(--color-400);
     border-radius: 8px;
     display: flex;
     align-items: center;
     gap: 16px;
}

.infraTitle .numberTitle {
     width: 40px;
     height: 40px;
     background-color: var(--color-600);
     border-radius: 100px;
     color: var(--color-50);
     font-size: 24px;
     font-weight: var(--weight-regular);
     display: flex;
     justify-content: center;
     align-items: center;
}

.infraTitle .infraTitleText {
     color: var(--color-500-primary);
     font-size: 24px;
     font-weight: var(--weight-semibold);
}

.img_topo {
     border-radius: 8px;
}

/* ==GRID OPTION MATERIALS== */

.materials {
     height: inherit;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;
}

.servicesWin {
     height: inherit;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;
}

.servicesLin {
     height: inherit;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;
}

.servicesAutre {
     height: inherit;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(1, 1fr);
     grid-column-gap: 24px;
     grid-row-gap: 24px;
}

/* ==FIN GRID OPTION MATERIALS== */

/* ==STYLE GRID== */
.material,
.service {
     height: inherit;
     padding: 16px;
     background-color: var(--color-100);
     border-radius: 24px;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 16px;
}

.imgMaterial,
.imgServiceWin {
     width: 8em;
}

.materialText,
.serviceTextWin {
     color: var(--color-950);
     font-size: var(--size-18);
     font-weight: var(--weight-semibold);
}

/* ==STYLE GRID== */

/* === FIN SECTION 5 === */

/* ======================================================== */

/* === SECTION 6 === */

.sec6 {
     height: 100vh;
}

/* === FIN SECTION 6 === */

/* ======================================================== */

/* === FOOTER === */

.footer {
     width: 100%;
     padding: 24px 32px;
     background-color: var(--color-50);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 16px;
}

.footer .footerText {
     font-size: var(--size-16);
     font-weight: var(--weight-regular);
     color: var(--color-950);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 8px;
}

.footerText .footerText1 {
     color: var(--color-500-primary);
     font-weight: var(--weight-semibold);
}

/* === FIN FOOTER === */