@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1230px) {
  .sec1Container1 {
    flex-wrap: wrap !important;
  }
  .sec1Container1 .left {
    width: 100% !important;
  }
  .right {
    margin-top: 16px !important;
  }
}
@media screen and (max-width: 1000px) {
  .expPro {
    flex-direction: column !important;
  }
  .expPro .illExpPro {
    max-width: 100% !important;
  }
  .expPro .left {
    width: 100% !important;
    text-align: center !important;
  }
  .expPro .right {
    width: 100% !important;
  }
}
@media screen and (max-width: 476px) {
  .divers {
    grid-template-columns: none !important;
  }
  .right,
.rgImg {
    width: 100% !important;
  }
  .containerCv .cv {
    width: 100% !important;
    height: unset !important;
  }
  .competences .compNavigation {
    border-right: none !important;
  }
  .competences .compBody .compsHeader {
    border-top: 4px solid #344E47;
  }
  .expPro {
    width: 100% !important;
  }
  .projet {
    width: 100% !important;
    background-position: center !important;
  }
  .contact {
    align-items: flex-start !important;
    flex-direction: column !important;
    gap: 8px !important;
  }
  .containerProjet {
    grid-template-columns: none !important;
  }
}
@media screen and (max-width: 640px) {
  .container {
    flex-direction: column !important;
  }
  .cardBloc {
    width: 100%;
  }
  .headerPrj .left .navProjet {
    display: none !important;
  }
  .container {
    margin: 24px;
  }
  .container .left .cardBloc {
    border-left: 8px solid #344E47;
  }
}
@media screen and (max-width: 1200px) {
  .headerPrj .right {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .projets {
    width: 100% !important;
    flex-direction: column !important;
  }
  .projets .projet {
    gap: 16px !important;
  }
  .projets .projet .projetInfo {
    width: 100% !important;
  }
  .projets .projetsNavigation {
    flex-direction: row !important;
  }
  .projets .projetsNavigation .projetNavigationButton {
    padding: 16px !important;
  }
  .projets .projetsNavigation .projetNavigationButton:nth-child(1) {
    border-radius: 32px 0 0 32px !important;
  }
  .projets .projetsNavigation .projetNavigationButton:nth-child(2) {
    border-radius: 0 32px 32px 0px !important;
  }
  .projets .imgIllProjet {
    height: unset !important;
  }
}
/* ==NAVIGATION== */
/* on cache le checkbox qui nous permet de voir l'état de la .navigation */
.hamburger {
  display: none;
}

.containerButton {
  padding: 12px;
}

/* on stylise le container (label) qui contient les 3 barres */
.hamburger + .containerButton {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  cursor: pointer;
  z-index: 1;
}

/* on stylise la barre principal */
.hamburger + .containerButton span {
  position: relative;
  width: 100%;
  height: 3px;
  background: #344E47;
}

/* on stylise les barre crée avec BEFORE et AFTER */
.hamburger + .containerButton span::before,
.hamburger + .containerButton span::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #344E47;
}

/* on positionne la première barre au TOP (absolute) */
.hamburger + .containerButton span::before {
  top: -10px;
}

/* on positionne la deuxième barre au BOTTOM (absolute) */
.hamburger + .containerButton span::after {
  top: 10px;
}

/* quand l'input est checké on rend la barre principal invisible */
.hamburger:checked + .containerButton span {
  background: transparent;
}

/* quand l'input est checké on positionne AFTER et BOTTOM au CENTER (absolute) */
.hamburger:checked + .containerButton span::after,
.hamburger:checked + .containerButton span::before {
  top: 0;
}

/* quand l'input est checké on applique une rotation de 45 degré sur le BEFORE */
.hamburger:checked + .containerButton span::before {
  background-color: #F5F8F6;
  transform: rotate(45deg);
}

/* quand l'input est checké on applique une rotation de 45 degré sur le AFTER */
.hamburger:checked + .containerButton span::after {
  background-color: #F5F8F6;
  transform: rotate(-45deg);
}

/*  NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 32%;
  height: 100vh;
  background: #344E47;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.navigation ul {
  margin-top: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  align-items: flex-start;
}
.navigation ul .linkNav {
  width: 100%;
}
.navigation ul .list {
  padding: 16px 24px;
  border-bottom: 1px solid #F5F8F6;
  color: #F5F8F6;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.navigation ul .list:hover {
  background-color: #3F6258;
}
.navigation ul:first-child {
  border-top: 1px solid #F5F8F6;
}

.navigation ul .linkNav:focus {
  background-color: red;
  transform: unset;
}

.hamburger:checked + .containerButton ~ .navigation {
  /*on revient à l'état initial*/
  transform: unset;
}

.hamburger + .containerButton span::before,
.hamburger + .containerButton span::after {
  transition: top 300ms 350ms, transform 300ms 50ms;
}

.hamburger:checked + .containerButton span::after,
.hamburger:checked + .containerButton span::before {
  transition: top 300ms 50ms, transform 300ms 350ms;
}

/* ==HEADER== */
.header {
  position: sticky;
  top: 0;
  padding: 16px 32px;
  background: #F5F8F6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
}

.shadow {
  box-shadow: 0px 24px 24px 0px rgba(20, 31, 29, 0.1);
}

/* ==FOOTER */
.footer {
  padding: 24px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}
.footer .textFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.footer .textFooter .textMessage {
  color: #344E47;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.footer .textFooter .copyright {
  color: #141F1D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

/* ==SECTION== */
.section {
  position: relative;
  padding: 80px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  z-index: -10;
}

.sec1Container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec1Container1 .left {
  width: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.sec1Container1 .left .lfTitle {
  color: #344E47;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.sec1Container1 .left .lfTitleSecond {
  color: #344E47;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.32px;
}
.sec1Container1 .left .lfTextPara {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.sec1Container1 .right {
  position: relative;
}
.sec1Container1 .right .rgPat {
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 110%;
  z-index: -1;
}
.sec1Container1 .right,
.sec1Container1 .rgImg {
  width: 422px;
}

.containerFormations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}
.containerFormations .formation {
  padding-left: 16px;
  border-left: 16px solid #344E47;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  align-items: flex-start;
}
.containerFormations .formation .informationDate {
  color: #141F1D;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.containerFormations .formation .informationTexte {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.containerFormations .formation .informationTexte .informationTexteTitle {
  color: #344E47;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.containerFormations .formation .informationTexte .informationTexteParagraphe {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.expPro {
  padding: 24px;
  border-radius: 51px;
  background: #DDEAE5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}
.expPro .left {
  width: 464px;
  height: 100%;
  border-radius: 35px;
  display: flex;
  align-self: stretch;
}
.expPro iframe {
  max-width: 100%;
  border-radius: 35px;
  display: flex;
  align-self: stretch;
}
.expPro .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.expPro .right .expProRightTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.expPro .right .expProRightTextContainer .expProRightText {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.containerQualité {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
}
.containerQualité .lg1,
.containerQualité .lg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 0;
  align-self: stretch;
}
.containerQualité .card {
  padding: 16px 32px;
  border-radius: 16px;
  background: #DDEAE5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
}
.containerQualité .card .cdTitle {
  color: #141F1D;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.containerQualité .card .cdText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  align-self: stretch;
}
.containerQualité .card .cdText .cdPara {
  color: #141F1D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  align-self: stretch;
}
.containerQualité .card .cdIcon {
  width: 124px;
  height: 124px;
}

.competences {
  width: 100%;
  background-color: #DDEAE5;
  border-radius: 40px;
  border: 4px solid #344E47;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.competences .compNavigation {
  padding: 24px;
  border-right: 4px solid #344E47;
  flex: 1;
}
.competences .compNavigation .compNavList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  margin: 16px 0;
}
.competences .compNavigation .compNavList .elementsCompNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}
.competences .compNavigation .compNavList .elementsCompNav .line {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  border: none;
  background-color: #344E47;
}
.competences .compNavigation .compNavList .elementsCompNav .compNavInfo {
  color: #141F1D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.competences .compBody {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  flex: 4;
}
.competences .compBody .compsHeader {
  width: 100%;
  padding: 32px;
  border-bottom: 4px solid #344E47;
}
.competences .compBody .comps {
  width: 100%;
  height: 100%;
  max-height: 439px;
  padding: 16px;
  overflow: overlay;
}
.competences .compBody .comps::-webkit-scrollbar {
  width: 8px;
}
.competences .compBody .comps::-webkit-scrollbar-track {
  background: #DDEAE5;
}
.competences .compBody .comps::-webkit-scrollbar-thumb {
  background-color: #344E47;
  border-radius: 20px;
  border: 3px solid #DDEAE5;
}
.competences .compBody .compJauge {
  width: 100%;
  padding: 32px;
  border-top: 4px solid #344E47 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}
.competences .compBody .compJauge .noteJauge {
  width: 100%;
  height: 24px;
}
.competences .compBody .compJauge .noteJauge .jaugeNiv1 {
  width: 24%;
  height: 24px;
  fill: #344E47;
}
.competences .compBody .compJauge .noteJauge .jaugeNiv2 {
  width: 100%;
  height: 24px;
  fill: #BBD4CA;
}
.competences .compBody .compJauge .jaugeText {
  font-family: "Oxanium", sans-serif;
  color: #344E47;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.projets {
  width: 100%;
  margin: 0 auto;
  padding: 72px 24px;
  background-color: #DDEAE5;
  border: 4px solid #344E47;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  flex-direction: row;
  justify-content: space-between;
}
.projets .projetsNavigation {
  background-color: #BBD4CA;
  border: 4px solid #344E47;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.projets .projetsNavigation .projetNavigationButton {
  padding: 16px 8px;
  background-color: transparent;
  border: none;
}
.projets .projetsNavigation .projetNavigationButton:nth-child(1) {
  border-radius: 32px 32px 0 0;
}
.projets .projetsNavigation .projetNavigationButton:nth-child(2) {
  border-radius: 0 0 32px 32px;
}
.projets .projetsNavigation .projetNavigationButton:hover {
  background-color: #DDEAE5;
}
.projets .projet {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.projets .projet .projetInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
}
.projets .projet .projetInfo .projetTitle {
  color: #344E47;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.32px;
  font-family: "Libre Caslon Text", serif;
}
.projets .projet .projetInfo .projetDescription {
  color: #141F1D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.projets .projet .projetLink {
  color: #344E47;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.projets .projet .projetLink svg {
  transform: translate(4px);
  transition: 0.5s;
}
.projets .projet .projetLink:hover svg {
  transform: translate(12px);
}
.projets .imgIllProjet {
  width: 389px;
  height: 332px;
}

.divers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.divers .diver {
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #141F1D;
  box-shadow: 8px 8px 4px 0px rgba(20, 31, 29, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex-direction: column;
}
.divers .diver .diverTitle {
  color: #344E47;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.32px;
}
.divers .diver .containerDiver {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.divers .diver .containerDiver .diverParagraphe {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.divers .diver .containerDiver .illCuisine {
  height: 160px;
}

.containerCv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  align-self: stretch;
}
.containerCv .cv {
  width: 422px;
  height: 573px;
}

.messageContact {
  padding: 24px;
  border-left: 8px solid #344E47;
  background: #DDEAE5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
}
.messageContact .textMessage {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  align-self: stretch;
}
.contacts .contact {
  border-top: 3px solid #DDEAE5;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
}
.contacts .contact .contactContainerText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.contacts .contact .contactContainerText .contactText {
  color: #141F1D;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.contacts .contact .informationContact {
  color: #141F1D;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.contacts .contact .networkSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}

/* BUTTON */
.btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 8px solid #344E47;
  background: #344E47;
  color: #F5F8F6;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
}

/* TAGS */
.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
}
.tags .tag {
  padding: 8px 16px;
  border-radius: 40px;
  background: #344E47;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
}
.tags .tag .tagText {
  color: #F5F8F6;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.tags .tagButton {
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  background: #344E47;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  color: #F5F8F6;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  cursor: pointer;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.title .textTitle {
  color: #344E47;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.title .line {
  width: 100%;
  height: 3px;
  background: #344E47;
}

.ssTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.ssTitle .textTitle {
  color: #344E47;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.ssTitle .line {
  width: 244px;
  height: 3px;
  background: #344E47;
}

.thémes {
  margin: 6rem 32px 32px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.thémes .thémesTitle {
  color: #F5F8F6;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.containerThémes {
  width: 100%;
  padding: 8px;
  background-color: #DDEAE5;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.containerThémes .théme {
  width: 100%;
  padding: 16px;
  background-color: #DDEAE5;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  cursor: pointer;
}
.containerThémes .théme .thémeTextGroupe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.containerThémes .théme .thémeTextGroupe svg path {
  stroke: #141F1D;
}
.containerThémes .théme .thémeTextGroupe .thémeText {
  color: #141F1D;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.containerThémes .active {
  background-color: #344E47 !important;
}
.containerThémes .active .thémeTextGroupe svg path {
  stroke: #DDEAE5 !important;
}
.containerThémes .active .thémeTextGroupe .thémeText {
  color: #DDEAE5 !important;
}

.compNavButton {
  padding: 16px;
  background-color: #DDEAE5;
  border-radius: 8px;
  border: 8px solid #344E47;
  text-align: left;
  align-self: stretch;
  color: #344E47;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}
.compNavButton.active {
  background: #344E47 !important;
  color: #F5F8F6 !important;
}

.comp {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #BBD4CA;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
}
.comp .compContainerTitle {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
  justify-content: space-between;
}
.comp .compContainerTitle .compTitle {
  color: #141F1D;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.32px;
}
.comp .compContainerTitle .compButton {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  cursor: pointer;
}
.comp .compContainerTitle .compButton:hover {
  background-color: #DDEAE5;
}

.compContent {
  width: 100%;
  margin: 16px 0px;
  padding: 16px;
  background-color: #BBD4CA;
  border-radius: 16px;
  display: none;
  animation: animateFromBottom 0.3s;
}
.compContent.show {
  display: block;
}
.compContent .paraCompTechnique {
  color: #141F1D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

@keyframes animateFromBottom {
  from {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.alert {
  width: 100%;
  padding: 16px;
  background-color: #DDEAE5;
  border: 4px solid #344E47;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.alert .headerAlert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.alert .headerAlert svg path {
  stroke: #344E47;
}
.alert .titleAlert {
  color: #344E47;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.32px;
}
.alert .message {
  color: #141F1D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.simpleLink {
  color: #344E47;
  font-weight: 700;
  text-decoration: underline;
}

.headerPrj {
  position: relative;
  background-image: url(assets/images/image_wave.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.headerPrj .left {
  padding: 32px 0 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.headerPrj .left .navProjet,
.headerPrj .left .navProjetLink {
  color: #F5F8F6;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-direction: row;
}
.headerPrj .left .navProjetLink {
  text-decoration: underline;
}
.headerPrj .left .titleProjet {
  color: #F5F8F6;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.headerPrj .left .btnHome {
  padding: 16px;
  background-color: #344E47;
  border-radius: 8px;
  color: #F5F8F6;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  cursor: pointer;
}
.headerPrj .right {
  margin: 56px 72px 0 0;
  width: 387px;
  height: 387px;
  border-radius: 200px;
  filter: drop-shadow(0px 14px 48px rgba(20, 31, 29, 0.5));
}

.container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.container .left {
  margin: 24px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .left .cardBloc {
  padding: 24px;
  border-radius: 0 40px 40px 0;
  border-top: 8px solid #344E47;
  border-right: 8px solid #344E47;
  border-bottom: 8px solid #344E47;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.container .left .cardBloc a {
  width: 100%;
}
.container .left .cardBloc .containerButtonPrj {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.container .left .cardBloc .btnDownload {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 8px solid #344E47;
  background: #344E47;
  color: #F5F8F6;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.container .left .lists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .left .lists li {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .right {
  margin: 24px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .right .rightParagraphe {
  color: #141F1D;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

table,
th,
td {
  border: 1px solid;
  padding: 8px;
}

.note {
  color: #344E47;
  font-weight: 800;
}

table {
  border-collapse: collapse;
  border: 4px solid #141F1D;
  color: #141F1D;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  height: 100%;
  background-color: #F5F8F6;
  z-index: 0;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #F5F8F6;
}
body::-webkit-scrollbar-thumb {
  background-color: #344E47;
  border-radius: 20px;
  border: 3px solid #F5F8F6;
}

/*# sourceMappingURL=styles.css.map */
