.alert {
     width: 100%;
     padding: 16px;
     background-color: $color-100;
     border: 4px solid $color-700;
     border-radius: 8px;
     @include flex(16px, column);
     align-items: flex-start;

     .headerAlert {
          @include flex(8px, row);

          svg path {
               stroke: $color-700;
          }
     }

     .titleAlert {
          @include text($color-700, $paragraphe1, $semibold)
     }

     .message {
          @include text($color-950, $paragraphe2, $regular)
     }
}