.headerPrj {
     position: relative;
     background-image: url(assets/images/image_wave.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     @include flex(0px, row);
     justify-content: space-between;
     align-items: flex-start;

     .left {
          padding: 32px 0 0 32px;
          @include flex(64px, column);
          justify-content: flex-start;
          align-items: flex-start;

          .navProjet,
          .navProjetLink {
               @include text($color-50, $paragraphe2, $regular);
               @include flex(4px, row);
          }

          .navProjetLink {
               text-decoration: underline;
          }

          .titleProjet {
               @include text($color-50, 42px, $semibold1)
          }

          .btnHome {
               padding: 16px;
               background-color: $color-700;
               border-radius: 8px;
               @include text($color-50, $paragraphe2, $regular);
               @include flex(8px, row);
               cursor: pointer;
          }
     }

     .right {
          margin: 56px 72px 0 0;
          width: 387px;
          height: 387px;
          border-radius: 200px;
          filter: drop-shadow(0px 14px 48px rgba(20, 31, 29, 50%));
     }
}

.container {
     display: flex;
     flex-direction: row;
     gap: 32px;

     .left {
          margin: 24px 0 0 0;
          @include flex(16px, column);
          justify-content: flex-start;
          align-items: flex-start;

          .cardBloc {
               padding: 24px;
               border-radius: 0 40px 40px 0;
               border-top: 8px solid $color-700;
               border-right: 8px solid $color-700;
               border-bottom: 8px solid $color-700;
               @include flex(16px, column);
               align-items: flex-start;

               a {
                    width: 100%;
               }

               .containerButtonPrj {
                    width: 100%;
                    @include flex(8px, column);
               }

               .btnDownload {
                    width: 100%;
                    padding: 8px;
                    border-radius: 8px;
                    border: 8px solid $color-700;
                    background: $color-700;
                    @include text($color-50, $paragraphe1, $semibold);
                    @include flex(8px, row);
                    justify-content: flex-start;
                    cursor: pointer;
               }
          }

          .lists {
               display: flex;
               flex-direction: column;
               gap: 8px;

               li {
                    @include text($color-950, $paragraphe1, $regular);
                    @include flex(8px, row);
                    justify-content: flex-start;
                    align-items: flex-start;
               }
          }
     }

     .right {
          margin: 24px 0 0 0;
          @include flex(16px, column);
          justify-content: flex-start;
          align-items: flex-start;

          .rightParagraphe {
               @include text($color-950, $paragraphe1, $regular);
          }
     }
}

table,
th,
td {
     border: 1px solid;
     padding: 8px;
}

.note {
     color: #344E47;
     font-weight: 800;
}

table {
     border-collapse: collapse;
     border: 4px solid #141F1D;
     color: #141F1D;
}