//TEXT

// ===TITRE===
@mixin titre($color) {
     color: $color-700;
     font-size: $titre;
     font-style: normal;
     font-weight: $semibold1;
     letter-spacing: 0.32px;
     text-transform: uppercase;
}

// ===FIN TITRE===

@mixin text($color, $size, $weight) {
     color: $color;
     font-size: $size;
     font-weight: $weight;
     letter-spacing: 0.32px;
}

// ===FIN PRARAGRAPHE===

//flex
@mixin flex($gap, $direction) {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: $gap;
     flex-direction: $direction;
}

//button
@mixin button {
     width: 100%;
     padding: 12px 16px;
     background-color: $color-100;
     border: none;
     border-radius: 8px;
     @include flex(none, none);
     @include paragraphe1_16-600($color-700);
}

@mixin buttonArray($color) {
     padding: 8px;
     background-color: $color;
     color: $color-white;
     border-radius: 8px;
}