//couleur LIGHT MODE
$color-50: #F5F8F6;
$color-100 : #DDEAE5;
$color-200: #BBD4CA;
$color-300: #92B6A9;
$color-400: #6B9689;
$color-500: #517B6F;
$color-600: #3F6258;
$color-700: #344E47;
$color-800: #2E413C;
$color-900: #293834;
$color-950: #141F1D;
$color-white: #FFF;
$color-bg-blur: rgba(245, 248, 246, 0.24);

//weight
$regular: 400;
$medium: 500;
$semibold: 600;
$semibold1: 700;
$extrabold: 800;

//size
$titre: 32px;
$sousTitre: 24px;
$paragraphe1: 18px;
$paragraphe2: 16px;