/* ===IMPORTATION FONT=== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* ===FIN IMPORTATION FONT=== */

/* ===DEFINITION VARIABLE=== */
:root {

     /* ==COLORS== */
     --color-50: #F2F9F9;
     --color-100: #DDEFF0;
     --color-200: #BFE0E2;
     --color-300: #92CACE;
     --color-400: #5FAAB1;
     --color-500-primary: #438E96;
     --color-600: #3B757F;
     --color-700: #356169;
     --color-800: #325158;
     --color-900: #2D464C;
     --color-950: #1A2C32;

     /* ==SIZE== */
     --size-32: 32px;
     --size-24: 24px;
     --size-18: 18px;
     --size-16: 16px;

     /* ==WEIGHT== */
     --weight-regular: 400;
     --weight-medium: 500;
     --weight-semibold: 700;
     --weight-extrabold: 800;
}

/* === FIN DEFINITION VARIABLE=== */

/* === BASE === */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     scroll-behavior: smooth;
}

body {
     width: 100%;
     height: 100vh;
     padding: 8px;
     background-color: var(--color-50);
}

body::-webkit-scrollbar {
     width: 8px;
}

body::-webkit-scrollbar-track {
     background: var(--color-50);
}

body::-webkit-scrollbar-thumb {
     background-color: var(--color-500-primary);
     border-radius: 20px;
     border: 3px solid var(--color-50);
}

.section {
<<<<<<< HEAD
     width: 100%;
=======
     min-width: 100%;
>>>>>>> origin/second
     background-color: var(--color-50);
}

.btn {
     padding: 8px 16px;
     background-color: var(--color-500-primary);
     border-radius: 100px;
     color: var(--color-50);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
}

.titleSection {
     font-size: 32px;
     font-weight: var(--weight-extrabold);
     color: var(--color-500-primary);
     text-align: center;
}

.section {
<<<<<<< HEAD
     height: 100vh;
=======
     min-height: 100vh;
>>>>>>> origin/second
     padding: 24px;
}

/* === FIN BASE === */

/* ======================================================== */

/* === SEC1 === */
.sec1 {
     height: 100%;
     padding: 24px;
     border-radius: 16px;
     background-color: var(--color-200);
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.sec1 .informations {
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     gap: 16px;
}

.informations .title {
     color: var(--color-900);
     font-size: 100px;
}

.informations .description {
     color: var(--color-900);
     font-size: var(--size-16);
}

/* === FIN SEC1 === */

/* ======================================================== */

/* === SEC2 === */

.sec2 {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.sec2 .left {
     width: 40%;
}

.sec2 .right {
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
     flex-direction: column;
}

.sec2 .descOrg {
     margin-top: 16px;
}

.sec2 .organisation {
     margin-top: 16px;
     display: flex;
     justify-content: center;
     align-items: normal;
     gap: 24px;
}

.sec2 .org {
     padding: 16px;
     background-color: var(--color-100);
     border-radius: 16px;
     border: 4px solid var(--color-950);
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 8px;
     flex-direction: column;
     color: var(--color-950);
}

/* === FIN SEC2 === */

/* ======================================================== */

/* === SEC3 === */

.sec3 {
<<<<<<< HEAD
     height: 100vh;
=======
     min-height: 100vh;
     padding-bottom: 200px;
>>>>>>> origin/second
}

.sec3 .orgRappel {
     width: 100%;
     margin-top: 16px;
     padding: 16px;
     background-color: var(--color-100);
     border-radius: 16px;
     border: 4px solid var(--color-950);
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 8px;
     flex-direction: column;
     color: var(--color-950);
}

.sec3 .infraTitle {
<<<<<<< HEAD
=======
     width: -moz-fit-content;
>>>>>>> origin/second
     width: fit-content;
     margin-top: 16px;
     padding: 16px 32px;
     background-color: var(--color-100);
     border: 1px solid var(--color-400);
     border-radius: 8px;
     display: flex;
     align-items: center;
     gap: 16px;
     color: var(--color-500-primary);
     font-size: 24px;
     font-weight: var(--weight-semibold);
}

.sec3 .para {
     margin-top: 24px;
     color: var(--color-950);
     font-size: var(--size-16);
     font-weight: var(--weight-regular);
}

.sec3 .cli {
     margin-top: 16px;
     background-color: var(--color-900);
     border-radius: 16px;
}

.cli .headerCli {
     padding: 16px;
     text-align: start;
     border-bottom: 1px solid var(--color-50);
}

.headerCli .titleCli {
     color: var(--color-100);
     font-size: var(--size-18);
     font-weight: var(--weight-regular);
}

.cli .bodyCli {
     padding: 24px;
}

.bodyCli .formatCommande {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 8px;
}

.formatCommande .invite,
.commande {
     color: var(--color-100);
     font-size: var(--size-16);
}

.formatCommande .invite {
     font-weight: var(--weight-semibold);
}

<<<<<<< HEAD
.formatCommande .comment {
     color: greenyellow;
}

=======
>>>>>>> origin/second
.sec3 .cmd-spec {
     padding: 2px 4px;
     border-radius: 3px;
     background-color: var(--color-300);
}

<<<<<<< HEAD
.sec3 ul {
     padding-left: 24px;
}

.sec3 ol {
     padding-left: 32px;
}

.sec3 ul li {
     list-style: disc;
}

.sec3 ol li {
     list-style: circle;
}


=======
>>>>>>> origin/second
/* === FIN SEC3 === */